@model LoginForm.Models.Suppliers
@{
}
<form asp-controller="Supply" asp-action="EditSuppliers" asp-route-id="@Model.SupplierID" method="post">
    <input type="hidden" asp-for="SupplierID" />
    <div class="form-group">
        <label>Supplier Name</label>
        <input type="text" asp-for="SupplierName" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Supplier Contact</label>
        <input type="text" asp-for="SupplierContact" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Update</button>
</form>