@model ERP.Models.ProductImage

@{
    ViewData["Title"] = "Edit Product Image";
    var products = ViewBag.Products as List<Products>;
}
<link rel="stylesheet" href="~/css/from.css" />
<h2>Edit Product Image</h2>

<form asp-action="EditImage" asp-controller="Supply" method="post" enctype="multipart/form-data" class="custom-form">
    <input type="hidden" asp-for="Imageid" />
    <div class="form-group">
        <label asp-for="productid">Select Product</label>
        <select asp-for="productid" class="form-control">
            <option value="">-- Select Product --</option>
            @foreach (var item in products)
            {
                var selected = item.productid == Model.productid ? "selected" : "";
                @Html.Raw($"<option value='{item.productid}' {selected}>{item.ProductName}</option>")
            }
        </select>
    </div>



    <div class="form-group">
        <label>Current Image</label><br />
        <img src="@Model.ImagePath" alt="Product Image" style="width:150px; height:auto; border:1px solid #ccc; border-radius:4px;" />
    </div>

    <div class="form-group">
        <label for="NewImageFile">Upload New Image</label>
        <input type="file" name="NewImageFile" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Update Image</button>
</form>
