@{
    ViewData["Title"] = "FAQ";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<a asp-action="DisplayRole" class="btn btn-primary">Back To List</a>
    <div class="col-md-8">
        <div class="card p-4 shadow-lg">
            <h2 style="color:black;font-family: 'Arial Narrow Bold'">Add Roles</h2>
            <hr />
            <form asp-action="AddRole" method="post">
                <div class="mb-3">
                    <h3 class="form-label" style="color:black;font-family: 'Arial Narrow Bold'">Role </h3>
                    <input type="text" class="form-control" placeholder="Enter Name" name="role_name">
                </div>
                
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-success">Add Role</button>
                </div>
            </form>
        </div>
    </div>



</body>
</html>
