@model List<ERP.Models.roles>



<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @* <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New Role
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="AddRole" method="post">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Role</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="DepartmentName" class="form-label">Role Name</label>
                            <input type="text" class="form-control" placeholder="Enter Name" name="role_name" required>

                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-end">

                        <button type="submit" class="btn btn-success">Add Role</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>RoleID</th>
                <th>Roll Name</th>
                <th>Action</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var roles in Model)
            {
                <tr>
                    <td>@roles.role_id</td>
                    <td>@roles.role_name</td>


                    <td>
                        <a asp-action="UpdateEmp" asp-route-id="@roles.role_id">Edit</a> |

                        <a asp-action="DeleteRole" asp-route-id="@roles.role_id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</body>
</html>


