@model LoginForm.Models.Weaving_process
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/from.css">
</head>
<body>
    <div class="form-container">
        <h2>@ViewData["Title"]</h2>
        <form asp-action="AddWeaving" asp-controller="Manufacture" method="post">
            <label asp-for="weave_type">Weave Type:</label>
            <input asp-for="weave_type" class="form-control" required>

            <label asp-for="loomType">Loom Type:</label>
            <input asp-for="loomType" class="form-control" required>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-primary">Canel</button>
        </form>
    </div>
</body>
</html>
