@model ERP.Models.ProductColor
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="form-container">
  
    <form asp-controller="Manufacture" asp-action="EditColor" method="post">
        <input type="hidden" asp-for="ColorID" /> <!-- Hidden ID -->
        <label for="ColorName">Color Name:</label>
        <input type="text" id="ColorName" name="ColorName" asp-for="ColorName" required>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>